<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />



<button (click)="logout()" class="logout">Logout</button>

<div class="background">
  <div class="button-container">
      <button mat-icon-button routerLink="/perfil-membro">
        <span class="material-symbols-outlined">person</span>
        <p>Membro Cadastrado</p>
      </button>
      <button mat-icon-button routerLink="/cadastroMembro">
        <span class="material-symbols-outlined">person_add</span>
        <p>Cadastrar Membro</p>
      </button>
      <button mat-icon-button routerLink="/planos">
        <span class="material-symbols-outlined">attach_money</span>
        <p>Planos</p>
      </button>
    </div>
  </div>
  