<button class="home" routerLink="/home">Home</button>
<div class="body">

    <div class="container">
        <div class="bronze">
            <div class="title">Plano Bronze</div>
            <ul>
                <li>• Acesso à academia das 6h às 18h</li>
                <li>• Uso dos equipamentos de musculação</li>
            </ul>
        </div>
        <div class="prata">
            <div class="title">Plano Prata</div>
            <ul>
                <li>• Acesso à academia das 6h às 22h</li>
                <li>• Uso dos equipamentos de musculação</li>
                <li>• Participação em aulas coletivas</li>
            </ul>
        </div>
        <div class="ouro">
            <div class="title">Plano Ouro</div>
            <ul>
                <li>• Acesso à academia em horário integral (24h)</li>
                <li>• Uso dos equipamentos de musculação</li>
                <li>• Participação em aulas coletivas</li>
                <li>• Avaliação física semestral com personal trainer</li>
            </ul>
        </div>
        <div class="diamante">
            <div class="title">Plano Diamante</div>
            <ul>
                <li>• Acesso à academia em horário integral (24h)</li>
                <li>• Uso dos equipamentos de musculação</li>
                <li>• Participação em aulas coletivas</li>
                <li>• Avaliação física trimestral com personal trainer</li>
                <li>• Desconto de 10% em suplementos na loja parceira</li>
            </ul>
        </div>
        <div class="platina">
            <div class="title">Plano Platina</div>
            <ul>
                <li>• Acesso à academia em horário integral (24h)</li>
                <li>• Uso dos equipamentos de musculação</li>
                <li>• Participação em aulas coletivas</li>
                <li>• Avaliação física mensal com personal trainer</li>
                <li>• Desconto de 20% em suplementos na loja parceira</li>
                <li>• Acesso ao spa e piscina aquecida</li>
            </ul>
        </div>
    </div>
</div>